<h1>Listing subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Organization</th>
      <th>Title</th>
      <th>Country</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.first_name %></td>
        <td><%= subscription.last_name %></td>
        <td><%= subscription.organization %></td>
        <td><%= subscription.title %></td>
        <td><%= subscription.country %></td>
        <td><%= subscription.mobile %></td>
        <td><%= subscription.email %></td>
        <td><%= subscription.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
